<ion-header>

  <ion-navbar>

    <ion-item class="custom-navbar">
      <ion-label>{{ 'GROUP' | translate }} {{ item.name }}</ion-label>
      <ion-toggle [(ngModel)]="item.completed" (ionChange)="updateItem(item)"></ion-toggle>
    </ion-item>
  </ion-navbar>


</ion-header>


<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of usersGroup">
      <button ion-item (click)="openItem(item)">
        <h2>{{item.first_name + ' ' + item.last_name + ' ' + item.second_name}}</h2>
        <ion-note item-end *ngIf="item.id">{{'ID: ' + item.id}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
