page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}

.custom-navbar{
  background-color: transparent;
  padding: 0;

  .item-inner {
    padding-right: 0 !important;
    border-bottom: 0 !important;
  }


  &.item-md.item-toggle ion-label {
    margin-left: 0;
    font-size: 2rem;
  }
}

