page-item-detail {
  .button-md-primary{
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .ion-list-custom{
    .item-wrapper {
      display: flex;
      overflow: visible;

      ion-item-options{
        display: flex;
        position: relative;
        visibility: visible;
        height: auto;
      }

      &:last-child{
        ion-item-options{
          border-bottom: none;
        }
      }
    }


  }
}

.custom-navbar{
  background-color: transparent;
  padding: 0;

  .item-inner {
    padding-right: 0 !important;
    border-bottom: 0 !important;
  }


  &.item-md.item-toggle ion-label {
    margin-left: 0;
    font-size: 2rem;
  }
}

.segment-md .segment-button{

  align-items: center;
  display: flex;
}
.segment-md .segment-button.activated,
.segment-md .segment-button.segment-activated {
  border-color: #488aff;
  opacity: 1;
  background: #f8f8f8;
}

