page-user-my-group {
  .custom-title .toolbar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-button{
    color: #000;
    font-size: 2rem;
    padding: 0 1rem;
  }
}
