<!--
  Generated template for the UserMyCoursesThemesRatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'USER_MY_COURSES_THEMES_RATING_TITLE' | translate }}: {{ course.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>1
  <ion-list>
    <ion-item-sliding *ngFor="let item of themesRating">
      <button ion-item>
        <h2>{{ item.last_name + ' ' + item.first_name + ' ' + item.second_name}}</h2>
        <ion-note item-end *ngIf="item.id"><ion-icon name="stats"></ion-icon>: </ion-note>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="openRating(item)">
          {{ 'INFORMATION_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
